nav button + button {
  margin-left: 15px;
}

.container {
  text-align: center;
  padding: 40px 20px 20px;
}

.component {
  margin-top: 20px;
  width: 100%;
}

.time {
  margin-bottom: 10px;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/
