<div fxLayout="column" fxLayoutAlign="center center" class="container">
  <h1>Converter</h1>

  <nav>
    <button
      mat-raised-button
      [color]="editor === 'currency' ? 'primary' : undefined"
      (click)="toggleEditor('currency')"
    >
      Currency
    </button>

    <button
      mat-raised-button
      [color]="editor === 'length' ? 'primary' : undefined"
      (click)="toggleEditor('length')"
    >
      Length
    </button>
  </nav>

  <div class="component" *ngIf="editor === 'length'">
    <div *ngIf="lengthRate">
      <app-convert-length [rates]="lengthRate.rates"></app-convert-length>
    </div>
  </div>

  <div class="component" *ngIf="editor === 'currency'">
    <div *ngIf="currencyRate">
      <div class="time">Latest date: {{ currencyRate.date }}</div>
      <app-convert-currency [rates]="currencyRate.rates"></app-convert-currency>
    </div>
  </div>
</div>
