.convert-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  padding: 0 15px;
}

.convert-label {
  display: inline-block;
  width: 6em;
  text-align: right;
}

.convert-value {
  flex: 1;
}

.result-wrapper {
  margin: 15px 0;
  font-weight: bold;
}

.result {
  font-size: 2em;
  margin-top: 8px;
}

.unit {
  margin-left: 10px;
}

.btn-wrapper {
  margin: 20px 0;
}

.col-1 {
  flex: 1;
  max-width: 200px;
}
